<div class="d-flex flex-column align-items-center mt-5">
        <h1 class="title_advantages mt-5">Преимущества</h1>
        <p>
            Наш опыт и репутация – самые важные показатели, но есть еще несколько важных условий:
        </p>
    </div>
   <div class="collapse_advantages">
        <h3 class="">1 Собственный автопарк</h3>
        <p class="text-secondary">В моменты пиковых нагрузок, очень важно иметь резервные варианты</p>

        <h3 class="mt-3">2 Квалифицированный персонал </h3>
            <p class="text-secondary">Слаженная работа механиков, персональных менеджеров,<br>
                бухгалтеров и юристов – залог высокого сервиса обслуживания. <br>
                Персональный менеджер учтет все Ваши пожелания и проследит за работой команды.</p>

        <h3 class="mt-3">3 Система мониторинга транспорта </h3>
            <p class="text-secondary">Современное оборудование GPS-навигации позволяет эффективно <br>
                и своевременно отслеживать транспорт на пути его следования</p>

        <h3 class="mt-3">4 Полная документальная и юридическая безопасность </h3>
            <p class="text-secondary">Мы предоставляем полный пакет документов, <br>
                заключаем договора согласно Законодательству Республики Казахстан, <br>
                прозрачно и понятно ведем сделку с нашими клиентами.</p>

        <h3 class="mt-3">5 Полностью оснащенная материально-техническая база СТО <br></h3>
            <p class="text-secondary">Все автомобили проходят постоянный контроль на авторизованном СТО,<br>
                имеются 3 СТО и охраняемая база</p>
   </div>