{% load i18n %}
<div class="d-flex flex-column align-items-center mt-5">
        <h1 class="title_advantages mt-5">{% trans "Perfect" %}</h1>
        <p>
            {% blocktrans %}Наш опыт и репутация – самые важные показатели, но есть еще несколько важных условий{% endblocktrans %}:
        </p>
    </div>
   <div class="collapse_advantages">
        <h3 class="">1 {% blocktrans %}Собственный автопарк{% endblocktrans %}</h3>
        <p class="text-secondary">{% blocktrans %}В моменты пиковых нагрузок, очень важно иметь резервные варианты{% endblocktrans %}</p>

        <h3 class="mt-3">2 {% blocktrans %}Квалифицированный персонал{% endblocktrans %} </h3>
            <p class="text-secondary">{% blocktrans %}Слаженная работа механиков, персональных менеджеров{% endblocktrans %},<br>
                {% blocktrans %}бухгалтеров и юристов – залог высокого сервиса обслуживания{% endblocktrans %}. <br>
                {% blocktrans %}Персональный менеджер учтет все Ваши пожелания и проследит за работой команды{% endblocktrans %}.</p>

        <h3 class="mt-3">3 {% blocktrans %}Система мониторинга транспорта {% endblocktrans %}</h3>
            <p class="text-secondary">{% blocktrans %}Современное оборудование GPS-навигации позволяет эффективно {% endblocktrans %}<br>
                {% blocktrans %}и своевременно отслеживать транспорт на пути его следования{% endblocktrans %}</p>

        <h3 class="mt-3">4{% blocktrans %} Полная документальная и юридическая безопасность{% endblocktrans %} </h3>
            <p class="text-secondary">{% blocktrans %}Мы предоставляем полный пакет документов{% endblocktrans %}, <br>
                {% blocktrans %}заключаем договора согласно Законодательству Республики Казахстан{% endblocktrans %}, <br>
                {% blocktrans %}прозрачно и понятно ведем сделку с нашими клиентами{% endblocktrans %}.</p>

        <h3 class="mt-3">5{% blocktrans %} Полностью оснащенная материально-техническая база СТО {% endblocktrans %}<br></h3>
            <p class="text-secondary">{% blocktrans %}Все автомобили проходят постоянный контроль на авторизованном СТО{% endblocktrans %},<br>
                {% blocktrans %}имеются 3 СТО и охраняемая база{% endblocktrans %}</p>
   </div>