{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="login_block">
        <h1 class="my-5">Вход</h1>
        <form action="{% url "accounts:login" %}" method="post">
            {% csrf_token %}
            {% if has_error %}
                <p>Не верный пароль или логин</p>
            {% endif %}
            <p><input type="text" name="username" placeholder="Логин"></p>
            <p><input type="password" name="password" placeholder="Пароль"></p>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button class="btn btn-primary my-5">Войти</button>
        </form>
    </div>
{% endblock %}