{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="login_block">
        <h1 class="my-5">{% trans "Login" %}</h1>
        <form action="{% url "accounts:login" %}" method="post">
            {% csrf_token %}
            {% if has_error %}
                <p>{% blocktrans %}Не верный пароль или логин{% endblocktrans %}</p>
            {% endif %}
            <p><input type="text" name="username" placeholder="Логин"></p>
            <p><input type="password" name="password" placeholder="Пароль\"></p>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button class="btn btn-primary my-5">{% trans "Login" %}</button>
        </form>
    </div>
{% endblock %}