{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="{% url "accounts:login" %}" method="post">
    {% csrf_token %}
    {% if has_error %}
        <p>Wrong username or password</p>
    {% endif %}
    <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button>Login</button>
</form>
{% endblock %}